body{
  background-image: url("bg.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  overflow-wrap: break-word;
}
div[id="foreground"]{
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 70%;
  text-align: center;
  background-color: #000000a0;
  border: 5px #ffffff solid;
  border-radius: 15px;
  color: #ffffff;
}
code{
  background-color:#404040ff;
  border-radius: 3px;
}
li{
  padding-top: 0px;
}
@font-face {
  font-family: 'Raleway';
  src: url('font/Raleway-Medium.woff2') format('woff2'),url('font/Raleway-Medium.woff') format('woff'),url('font/Raleway-Medium.ttf') format('truetype');
}
p[id="credits"]{
  font-family: 'Raleway';
  font-weight: 500;
  font-style: normal;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  width: 20%;
  text-align: center;
  background-color: #00000030;
  border: 0px solid;
  border-radius: 7px;
  color: #ffffff;
}
a:link {
  color: #8080ff;
}
a:visited {
  color: #8040ff;
}
a:hover {
  color: #4040c0;
}
a:active {
  color: #000080;
}
